.contianer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.data {
  display: flex;
  height: 92%;
  border-top: 1px solid #ededed;
}

.customer-list {
  height: 100%;
  width: 30%;
  overflow-y: scroll;
}

.customer-list::-webkit-scrollbar {
  display: none;
}

.details-container {
  height: 100%;
  width: 70%;
  background-color: #f9f9f9;
  border-left: 1px solid #f1efef;
}

.customer-details {
  height: 100%;
  width: 100%;
  padding: 25px 110px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
}

.customer-details-heading {
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
}

.details-sub-heading {
  font-weight: 500;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 720px;
  height: auto;
}

.flex-item {
  width: 200px;
  height: 200px;
  padding: 8px 8px;
}

.flex-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid #777;
  border-radius: 8px;
  overflow: hidden;
}

.select-customer-label {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1120px) {
  .flex-item {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 1030px) {
  .flex-item {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 900px) {
  .customer-details {
    padding: 25px 80px;
  }
  .flex-item {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 770px) {
  .flex-item {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 690px) {
  .customer-details {
    padding: 25px 40px;
  }
}
